@model IEnumerable<MovieMvcDate.Models.Entites.Admin>

    @if(ViewData["Title"] != null)
    {
        <h2>
            @TempData["success"]
        </h2>

    }

<div class="container p-3">
<div class ="row pt-4">
    <div class = "col-6">
        <h2 class = "text-primary">All Admins</h2>
    </div>
    <div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Password
                </th>
                <th>
                    Ative
                </th>
            </tr>
            @foreach (var admin in Model)
            {
                <tr>
                    <td>
                        @admin.Id
                    </td>
                    <td>
                        @admin.FirstName
                    </td>
                    <td>
                        @admin.LastName
                    </td>
                    <td>
                        @admin.Email
                    </td>
                    <td>
                        @admin.PhoneNumber
                    </td>
                    <td>
                        @admin.Password
                    </td>
                    <td>
                        @admin.IsActive
                    </td>
                    <td>
                        <a onclick="myFuntion()" asp-controller = "Admin" asp-action = "DeleteAdmin" asp-route-Id = "@admin.Id"><i class ="bi bi-trash"></i>Delete  </a>
                    </td>
                    <td>
                        <a onclick="myFuntion()" asp-controller = "Admin" asp-action = "UpdateAdmin" asp-route-Id = "@admin.Id"><i class ="bi bi-penil-fill"></i>UpdateAdmin</a>
                    </td>
                    <td>
                        <a asp-controller = "Admin" asp-action = "Details" asp-route-Id = "@admin.Id"><i class ="bi bi-info-lg"></i> Details </a>
                    </td>
                    <script>
                        function myFuntion()
                        {
                           alert("Do you can to proceed ?")  
                        }
                    </script>
                </tr>
            }
            </table>
        </div>
    </div>
    </div>
