@model IEnumerable<MovieMvcDate.Models.Entites.Movie>


<div class="container p-3">
<div class ="row pt-4">
    <div class = "col-6">
        <h2 class = "text-primary">one Movies</h2>
    </div>
    <div> <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    MovieName
                </th>
                <th>
                    Director
                </th>
                <th>
                    Year
                </th>
                <th>
                    MoviePrice
                </th>
                <th>
                   MovieFlieType
                </th>
                <th>
                   TimeCreted
                </th>
                <th>
                   Moviedate
                </th>
            </tr>
             @foreach (var movi in Model)
            {
                 <tr>
                    <td>
                        @movi.Id
                    </td>
                    <td>
                        @movi.MovieName
                    </td>
                    <td>
                        @movi.Director
                    </td>
                    <td>
                        @movi.Year
                    </td>
                    <td>
                        @movi.MoviePrice
                    </td>
                    <td>
                        @movi.MovieFliePath
                    </td>
                    <td>
                        @movi.TimeCreted
                    </td>
                    <td>
                        @movi.Moviedate
                    </td>
                    <td>
                        <td>
                        <a onclick="myFuntion()" asp-controller = "Movie" asp-action = "GetMoviesById" asp-route-Id = "@movi.Id"><i class ="bi bi-trash"></i> Details  </a>
                    
                    </td>
                    </tr>
                    <head>
    @* <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> *@
</head>
<body>
    <div class="container">
        
        @foreach(var item in Model)
        {
            <div class="col-sm-4 col-md-4 col-xs-12">
                @* <div class="modal-MovieName" style="width:250px;">@item.MovieFliePath</div> *@
                <hr/>
                <div class="video-frame">
                    <video style="width:250px; height:150px;" controls>
                        <source src="C:\Users\owner\Desktop\MovieMvcDate\MovieMvcDate\wwwroot\Videos" type="video/mp4" />
                    </video>
                </div>
            </div>
        }
    </div>
</body>

            }
