@model IEnumerable<MovieMvcDate.Models.Entites.Customer>
@* @model IEnumerable<MovieMvcDate.Models.Dto.RequestModel.CustomerDto> *@

@* <div>
    <h1> display ALL Cutomer</h1>
    <p><a asp-action="GetAllCustomers"> GetALL Cutomer</a></p>
</div>  *@

    @* @if(ViewData["Title"] != null)
    {
        <h2>
            @TempData["success"]
        </h2>
         if (TempData["failed"] != null)
    {
        <h2>@TempData["failed"]</h2>
    }

    } *@

<div class="container p-3">
<div class ="row pt-4">
    <div class = "col-6">
        <h2 class = "text-primary">All Customer</h2>
    </div>
    <div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Password
                </th> 
                <th>
                    IsActive
                </th>
                <th>
                    RefNumber
                </th>
            </tr>
            @foreach (var cutomer in Model)
            {
                <tr>
                    <td>
                        @cutomer.Id
                    </td>
                    <td>
                        @cutomer.FirstName
                    </td>
                    <td>
                        @cutomer.LastName
                    </td>
                    <td>
                        @cutomer.Email
                    </td>
                    <td>
                        @cutomer.PhoneNumber
                    </td>
                    <td>
                        @cutomer.Password
                    </td>
                    <td>
                        @cutomer.IsActive
                    </td>
                    <td>
                        @cutomer.RefNumber
                    </td>
                    <td>
                        <a onclick="myFuntion()" asp-controller = "Customer" asp-action = "UpdateCustomer" asp-route-RefNumber = "@cutomer.RefNumber"><i class ="bi bi-penil-fill"></i>UpdateCustomer</a>
                    </td>
                    <td>
                        <a  onclick="myFuntion()" asp-controller = "Customer" asp-action = "Details" asp-route-RefNumber = "@cutomer.RefNumber"><i class ="bi bi-info-lg"></i> Details </a>
                    </td>
                       <td>
                        <a  asp-controller = "Customer" asp-action = "DeleteCustomer" asp-route-RefNumber = "@cutomer.RefNumber"><i class ="bi bi-trash"></i>Delete</a>
                    </td>
                    <script>
                        function myFuntion()
                        {
                           alert("Do you want to proceed ?")  
                        }
                    </script>
                </tr>
            }
            </table>
        </div>
    </div>
    </div>

             @* <td>
           <a asp-action="Update" asp-route-Id="@cutomer.Id">Update</a> |
           <a asp-action="Details" asp-route-Id="@cutomer.Id">Details</a> |
          <a asp-action="DeletePreview" asp-route-Id="@cutomer.Id">Delete</a>|
                </td> *@

@*
@foreach (var item in Model)
{
    <div>
        <h6>@Html.DisplayFor(x => item.FirstName) : @Html.DisplayFor(x => item.LastName) : @Html.DisplayFor(x => item.Email)
            @Html.DisplayFor(x => item.PhoneNumber)
            <a asp-action="Details" asp-route-Id=@item.Id>View</a>&nbsp;<a asp-action="UpdateCustomer"
            asp-route-Id=@item.Id>UpdateCustomer</a>
            @* &nbsp;<a asp-action="Delete" asp-route-Id=@item.Id>DeleteCustomer</a> *@
        @* </h6>
    </div> *@
@* } *@
@* 
@using MovieMvcDate.Models.Dto.RequestModel


 <div class="row">
        <div class="col-md-12">
            <h2>Update Profile</h2>
            <form asp-action="Edit">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input for="FirstName" type="text" name="FirstName" id="FirstName" class="form-control" value="@Model.Data..Data.User.Name"/>
                </div>
                 <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input type="text" name="LastName" id="LastName" class="form-control" />
                </div>
                 <div class="form-group">
                    <label for="PhoneNumber">Phone Number</label>
                    <input type="number" name="PhoneNumber" id="phone" class="form-control" value="@Model..Data.User.PhoneNumber"/>
                </div>
                <div class="form-group">
                 <label for="Gender">Gender</label>
                 <select name="Gender" class="form-control">
                 <option value="none" disabled>--select gender--</option>
                 <option value="1">Male</option>
                 <option value="2" >Female</option>
                 <option value="3" >Others</option>
                 </select>
                 </div>
                 <div class="form-group">
                    <label for="NumberLine">Number Line</label>
                    <input type="number" name="NumberLine" id="PhoneNumber" class="form-control" value="@Model..Data.User.NumberLine"/>
                </div>
                 <div class="form-group">
                    <label for="Street">Street</label>
                    <input type="text" name="Street" id="Street" class="form-control" value="@Model..Data.User.Street"/>
                </div>
                 <div class="form-group">
                    <label for="State">State</label>
                    <input type="text" name="State" id="State" class="form-control" value="@Model..Data.User.State"/>
                </div>
                 <div class="form-group">
                    <label for="City">City</label>
                    <input type="text" name="City" id="City" class="form-control" value="@Model..Data.User.City"/>
                </div>
                 <div class="form-group">
                    <label for="Country">Country</label>
                    <input type="text" name="Country" id="Country" class="form-control" value="@Model..Data.User.Country"/>
                </div>
                 <div class="form-group">
                    <label for="PostalCode">Postal Code</label>
                    <input type="number" name="PostalCode" id="PostalCode" class="form-control" value="@Model..Data.User.PostalCode"/>
                </div>
                 <div class="form-group">
                    <label for="NextOfKin">Next Of Kin</label>
                    <input type="text" name="NextOfKin" id="NextOfKin" class="form-control" value="@Model.Data.NextOfKin"/>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div> *@
